{% load staticfiles%}
<!DOCTYPE html>
<html lang="pt">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" a href="{% static 'banco/bootstrap/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" a href="{% static 'banco/style.css' %}" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


	<script type="text/javascript" src="{% static 'banco/jquery-2.2.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'banco/bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'banco/function.js' %}"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


	<title>Banco Amaro</title>

</head>
<body>

	{% block head %}

	{% endblock %}

	<div class="jumbotron">
		<div class="container">
			{% block conteudo %}
				{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
				
			{% endblock %}
		</div>
	</div>

	{% block footer %}
	{% endblock %}
</body>
</html>