{% extends 'layout.html' %}


{% block head %}
	{% include "inicial/menu.html" %}
{% endblock%}


{% block conteudo %}
<h1>Bem vindo ao banco Amaro</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec luctus erat. Morbi fringilla, lorem ac mattis porttitor, massa dui egestas diam, ut vehicula quam nibh sit amet neque. Nam feugiat nulla a scelerisque sollicitudin. Aliquam facilisis vehicula lacus in auctor. Sed semper cursus magna ut sagittis. Aliquam elementum ex vel lorem consectetur, nec egestas nulla rhoncus. Suspendisse pharetra neque urna, quis euismod justo condimentum ac. Nulla placerat metus justo, sit amet ornare urna elementum non. Ut id vestibulum augue, non porttitor tellus. Mauris erat arcu, dapibus vitae nisi a, venenatis consectetur ipsum. Integer aliquet leo sit amet risus blandit malesuada. Curabitur sit amet euismod dui, eget volutpat sapien. Morbi tristique massa feugiat mattis fringilla. Integer scelerisque accumsan mi nec viverra.

Mauris vestibulum turpis risus. Fusce volutpat ullamcorper fringilla. Etiam non tristique urna, et posuere nisl. Donec cursus suscipit pretium. Sed interdum dolor nisl, id tincidunt risus ullamcorper id. In id pellentesque ipsum, non accumsan metus. Fusce lobortis finibus mi sit amet egestas. Cras non nisi at quam dignissim consequat quis at nisl. Morbi sodales quis ipsum id hendrerit. Maecenas imperdiet ultrices purus, congue varius sem. Nam vulputate in purus in aliquam.

Morbi rhoncus enim libero, quis imperdiet justo scelerisque sit amet. Donec viverra turpis a lacus consectetur, non tincidunt ante efficitur. Etiam eu orci vel libero posuere suscipit sed ultrices velit. Sed vehicula est vitae odio semper finibus. Fusce eleifend nunc quis orci eleifend finibus. Nam mattis nisl nibh, sed congue elit placerat vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
{% endblock%}


{% block footer %}
{% endblock%}


