{% extends 'layout.html' %}


{% block head %}
	{% include "inicial/menu.html" %}
{% endblock%}


{% block conteudo %}
<h1>Seja cliente Amaro</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'bancoamaro:novoUsuario' %}" method="post" id="novoClienteForm" class="formInicial">
	{% csrf_token %}
	<label for="nome">Nome</label>
	<input type="text" name="nome" id="nome" />

	<label for="cpf">CPF</label>
	<input type="text" name="cpf" id="cpf" />

	<label for="senha">Senha</label>
	<input type="password" name="senha" id="senha" />
	
	<input type="submit" class="btn btn-success" value="Cadastrar" />
</form>
{% endblock%}


{% block footer %}
{% endblock%}


