{% extends 'layout.html' %}


{% block head %}
	{% include "administracao/menu.html" %}
{% endblock%}


{% block conteudo %}
<div id="backBtn">
	<a href="{% url 'bancoamaro:administracao'%}"><span class="glyphicon glyphicon-triangle-left"></span>Voltar</a>
</div>
<ul  class="list-group">
	<li class="list-group-item">Código : {{ cliente.username }}</li>
	<li class="list-group-item">Nome : {{ cliente.nome }}</li>
	<li class="list-group-item">CPF : {{ cliente.cpf }}</li>
	<li class="list-group-item">saldo : {{ cliente.saldo }}</li>
</ul>

	{% if operacoes %}
		<table class='table table-striped'>
			<thead>
				<tr>
					<th>Operação</th>
					<th>Valor</th>
					<th>Data</th>
				</tr>
			</thead>			
			
			{% for op in operacoes %}
				<tr>
					<td>{{ op.tipo_op }}</td>
					<td>R${{ op.valor }}</td>
					<td>{{ op.dataHora }}</td>
				</tr>
			
			{% endfor %}

		</table>
	{% else %}
		<p> Cliente não tem operações cadastradas</p>
	{% endif %}


{% endblock%}


{% block footer %}
{% endblock%}


